Simple server and error ERR_INCOMPLETE_CHUNKED_ENCODING

I wrote simple server:

```
new Thread(new Runnable() {
    @Override
    public void run() {
        HttpProxyServerBootstrap bs = DefaultHttpProxyServer.bootstrap()
            .withPort(8080)
            .withFiltersSource(new HttpFiltersSourceAdapter() {

                public HttpFilters filterRequest(HttpRequest originalRequest, ChannelHandlerContext ctx) {
                    return new HttpFiltersAdapter(originalRequest) {
                        @Override
                        public HttpResponse requestPre(HttpObject httpObject) {
                            if (httpObject instanceof DefaultHttpRequest)
                                System.out.println("URL: " + ((DefaultHttpRequest) httpObject).getUri());
                            return null;
                        }
                        @Override
                        public HttpResponse requestPost(HttpObject httpObject) {
                            return null;
                        }
                        @Override
                        public HttpObject responsePre(HttpObject httpObject) {
                            return httpObject;
                        }
                        @Override
                        public HttpObject responsePost(HttpObject httpObject) {
                            return httpObject;
                        }   
                    };
                }
            });
        bs.start();
    }

}).start();
```

When I load this page into the browser:
http://wiadomosci.wp.pl/gid,16752769,kat,1356,title,Najgrozniejsza-gonitwa-w-tym-roku-zdjecia,galeria.html?ticaid=113166

On a file http://adsearch.adkontekst.pl/akon/intext_spliter?prid=3&caid=102429&form=9045:0:I&ns=1405426939016 errors occure:

ERR_INCOMPLETE_CHUNKED_ENCODING

In respose (headers):

```
Remote Address:127.0.0.1:8080
Request URL:http://adsearch.adkontekst.pl/akon/intext_spliter?prid=3&caid=102429&form=9045:0:I&ns=1405426939016
Request Method:GET
Status Code:200 OK
Request Headersview source
Accept:*/*
Accept-Encoding:gzip,deflate,sdch
Accept-Language:pl-PL,pl;q=0.8,en-US;q=0.6,en;q=0.4
Cache-Control:max-age=0
Cookie:_7=14735108d684bf32a2153a12c00; CAPCOOC=V1:d2002:10b:27f1a:7d0:
Host:adsearch.adkontekst.pl
Proxy-Connection:keep-alive
Referer:http://wiadomosci.wp.pl/gid,16752769,kat,1356,title,Najgrozniejsza-gonitwa-w-tym-roku-zdjecia,galeria.html?ticaid=113166
User-Agent:Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36
Query String Parametersview sourceview URL encoded
prid:3
caid:102429
form:9045:0:I
ns:1405426939016
Response Headersview source
Cache-Control:no-cache
Content-Type:text/javascript; charset=UTF-8
Date:Tue, 15 Jul 2014 12:22:24 GMT
P3P:CP="NOI DSP COR NID CUR OUR NOR"
Pragma:no-cache
Server:Microsoft-IIS/7.5
Set-cookie:_7=14735108d684bf32a2153a12c00;domain=.adsearch.adkontekst.pl;path=/;expires=Fri, 15-Jul-2016 00:00:00 GMT;
Transfer-Encoding:chunked
```

Content is empty. On chrome console:
![clipboard04](https://cloud.githubusercontent.com/assets/1758624/3584633/acb300ce-0c1b-11e4-8694-1eb2ca481d75.jpg)

I use version 1.0.0alpha8

Any ideas what's wrong?


There is indeed an error with the site. I see some junk characters in the response headers - 

![incomplete_chunked_encoding](https://cloud.githubusercontent.com/assets/12625980/7835028/56d9fa7e-0493-11e5-9612-c8eb8d83bbdd.png)

Could this be causing littleproxy to fail?

Very interesting @MediumOne thanks. Could you put together a unit test to see how LittleProxy handles this?

I too would be very interested to see how LP currently handles this. @MediumOne - if you want to construct a quick-and-dirty unit test with the erroneous header, have a look at TimeoutTest, which makes use of MockServer. MockServer makes it very easy to create custom headers for test cases.

Regardless of how LittleProxy does actually respond, there is a question of how LP _should_ respond to a request like this. The header appears to be invalid. [RFC 7230, section 3.2](https://tools.ietf.org/html/rfc7230#section-3.2), defines a header as:
> header-field   = field-name ":" OWS field-value OWS
> field-name     = token
> [...]

And "token" is defined in [section 3.2.6](https://tools.ietf.org/html/rfc7230#section-3.2.6):
> token          = 1*tchar
> tchar          = "!" / "#" / "$" / "%" / "&" / "'" / "*" / "+" / "-" / "." / "^" / "_" / "`" / "|" / "~" / DIGIT / ALPHA ; any VCHAR, except delimiters

So a header name of just semicolon ';' would seem to be disallowed, since semicolon is not allowed in tokens. The "right" thing to do would therefore probably be to respond with a 400 Bad Request. However, we could theoretically just pass on the erroneous header and allow the downstream server/proxy to handle it (assuming netty will successfully process it). I can think of uses cases that would suit both approaches. Perhaps LP needs an optional "strict mode" or "standards-compliance mode" that allow users to choose between lax processing and standards-compliant processing.

Any thoughts?

Since this issue hasn't been updated in ~2 years, and the underlying issue appears to be a non-compliant server, I'll close this issue.